<div class="container mx-auto mt-8">
  <h2 class="text-2xl font-bold mb-4">Place Your Order</h2>
  <div class="bg-white p-6 rounded-lg shadow-md">
    <h3 class="text-xl font-bold mb-4">Order Summary</h3>
    <table class="min-w-full bg-white">
      <thead>
        <tr>
          <th class="py-2 px-4 border-b">game</th>
          <th class="py-2 px-4 border-b">Price</th>
          <th class="py-2 px-4 border-b">Quantity</th>
          <th class="py-2 px-4 border-b">Total</th>
        </tr>
      </thead>
      <tbody>
        <% @cart.cart_items.each do |item| %>
          <tr>
            <td class="py-2 px-4 border-b"><%= item.game.title %></td>
            <td class="py-2 px-4 border-b"><%= number_to_currency(item.price || item.game.price, unit: "₴") %></td>
            <td class="py-2 px-4 border-b"><%= item.quantity %></td>
            <td class="py-2 px-4 border-b"><%= number_to_currency(item.total_price, unit: "₴") %></td>
          </tr>
        <% end %>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="3" class="py-2 px-4 text-right font-bold">Total:</td>
          <td class="py-2 px-4 font-bold"><%= number_to_currency(@cart.total_price, unit: "₴") %></td>
        </tr>
      </tfoot>
    </table>
    
    <div class="mt-8">
      <%= form_with model: @order, url: orders_path, local: true do |f| %>
        <div class="mb-4">
         <%= f.label :shipping_address, "Your email", class: "block text-gray-700 font-bold mb-2" %>
          <%= f.text_area :shipping_address, class: "w-full p-2 border border-gray-300 rounded-lg", id: "shipping_address" %>
          <div id="email-error" class="text-red-500 mt-2" style="display: none;">Please enter a valid email address.</div>
        </div>
        <div class="mb-4">
          <%= f.label :payment_method, "Payment Method", class: "block text-gray-700 font-bold mb-2" %>
          <%= f.select :payment_method, options_for_select(["Credit Card", "Bank Transfer"]), {}, class: "w-full p-2 border border-gray-300 rounded-lg" %>
        </div>
        <div class="flex justify-end">
          <%= f.submit "Place Order", class: "bg-green-500 text-white font-bold py-2 px-4 rounded" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    const emailField = document.getElementById("shipping_address");
    const errorDiv = document.getElementById("email-error");
    const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;

    emailField.addEventListener("input", function() {
      if (emailRegex.test(emailField.value)) {
        errorDiv.style.display = "none";
      } else {
        errorDiv.style.display = "block";
      }
    });
  });
</script>
