<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Підтвердження замовлення</h1>
    <p>Дякуємо за замовлення, <%= @user.email %>!</p>
    <p>Ось деталі вашого замовлення:</p>
    <p><strong>Адреса доставки:</strong> <%= @order.shipping_address %></p>
    <ul>
      <% @order.cart_items.each do |item| %>
        <li><%= item.product.title %> - <%= item.quantity %> x <%= number_to_currency(item.price, unit: "₴") %></li>
      <% end %>
    </ul>
    <p>Всього: <%= number_to_currency(@order.total_price, unit: "₴") %></p>
  </body>
</html>
