<div class="container mx-auto my-8 px-4">
  <div class="flex flex-col md:flex-row">
    <div class="w-full md:w-1/4 p-4 bg-white rounded-lg shadow-md mt-5 h-52 md:h-full">
      <h2 class="text-xl font-bold mb-4">Фільтри</h2>
      <%= form_with(url: products_path, method: :get, local: true) do %>
        <div data-controller="price-range">
          <label class="block text-gray-700 font-bold mb-2" for="price">Ціновий діапазон</label>
          <div class="flex space-x-2">
            <input 
              type="range" 
              id="minPriceRange" 
              name="min_price" 
              min="0" 
              max="15000" 
              value="<%= params[:min_price] || 0 %>" 
              class="w-full" 
              data-price-range-target="minPrice">
            <input 
              type="range" 
              id="maxPriceRange" 
              name="max_price" 
              min="0" 
              max="30000" 
              value="<%= params[:max_price] || 30000 %>" 
              class="w-full" 
              data-price-range-target="maxPrice">
          </div>
          <div class="mt-2 text-gray-700 font-bold">
            Ціновий діапазон: <span id="selectedPriceRange" data-price-range-target="selectedRange"><%= params[:min_price] || 0 %> - <%= params[:max_price] || 15000 %></span> грн
          </div>

          <div class="mt-4">
            <label for="category_id" class="block text-gray-700 font-bold mb-2">Категорія</label>
            <select name="category_id" id="category_id" class="w-full p-2 border border-gray-300 rounded-lg">
              <option value="">Усі категорії</option>
              <% Category.all.each do |category| %>
                <option value="<%= category.id %>" <%= 'selected' if params[:category_id].to_s == category.id.to_s %>><%= category.name %></option>
              <% end %>
            </select>
          </div>

          <% if @properties.present? %>
            <% @properties.each do |property| %>
              <div class="mt-4">
                <h3 class="text-lg font-semibold"><%= property.name %></h3>

                <% if property.options.present? %>
                  <% property.options.each do |val| %>
                    <div>
                      <%= check_box_tag "filters[#{property.id}][]", val, params.dig(:filters, property.id.to_s)&.include?(val) %>
                      <%= label_tag "filters_#{property.id}_#{val}", "#{val}" %>
                    </div>
                  <% end %>
                <% else %>
                  <% property.property_values.map(&:value).uniq.each do |value| %>
                    <div>
                      <%= check_box_tag "filters[#{property.id}][]", value, params.dig(:filters, property.id.to_s)&.include?(value) %>
                      <%= label_tag "filters_#{property.id}_#{value}", "#{value}" %>
                    </div>
                  <% end %>
                <% end %>
              </div>
            <% end %>
          <% end %>
        </div>
        <div class="flex justify-between">
          <button type="submit" class="bg-blue-500 text-white font-bold py-2 px-4 mt-2 rounded">Застосувати</button>
          <% if params[:min_price].present? || params[:max_price].present? %>
            <%= link_to 'Очистити', products_path, class: ' mt-2 bg-gray-500 text-white font-bold py-2 px-4 rounded' %>
          <% end %>
        </div>
      <% end %>
    </div>

    <div class="w-full md:w-3/4 p-4">
      <div class="flex flex-wrap items-center gap-2 mb-4">
        <%= form_with(url: products_path, method: :get, local: true, class: "flex flex-wrap items-center w-full gap-2") do %>
          <input 
            type="text" 
            name="query" 
            placeholder="Пошук..." 
            class="flex-1 p-2 border border-gray-300 rounded-lg" 
            value="<%= params[:query] %>"
          >
          <button 
            type="submit" 
            class="bg-blue-500 text-white font-bold py-2 px-4 rounded whitespace-nowrap"
          >
            Search
          </button>
          <% if user_signed_in? && current_user.admin? %>
            <%= link_to 'Добавити продукт', new_product_path, class: 'bg-green-500 text-white font-bold py-2 px-4 rounded whitespace-nowrap' %>
          <% end %>
        <% end %>
      </div>
      <!-- Products Grid -->
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
        <% @products.each do |product| %>
          <div class="bg-white p-4 rounded-lg shadow-md">
            <% if product.image.attached? %>
              <%= image_tag product.image, class: "w-full h-64 object-cover rounded-md" %>
            <% else %>
              <div class="w-full h-64 object-cover rounded-md bg-gray-200"></div>
            <% end %>
            <h3 class="text-lg font-bold mt-2"><%= link_to product.title, product %></h3>
            <p class="text-gray-700"><%= product.description.truncate(100) %></p>
            <div class="mt-2">
              <span class="text-xl font-bold text-green-600"><%= number_to_currency(product.price, unit: "₴") %></span>
              <%= form_with url: cart_items_path, method: :post, local: true do |f| %>
                <%= hidden_field_tag :product_id, product.id %>
                <%= submit_tag 'Купити', class: "bg-green-500 text-white font-bold py-1 px-2 rounded mt-2" %>
              <% end %>
            </div>
            <% if user_signed_in? && current_user.admin? %>
              <div class="mt-4 flex space-x-2">
                <%= link_to 'Редагувати', edit_product_path(product), class: 'bg-yellow-500 text-white font-bold py-1 px-2 rounded' %>
                <%= link_to 'Видалити', product, method: :delete, data: { turbo_method: :delete, confirm: 'Are you sure?' }, class: 'delete-link bg-red-500 text-white font-bold py-1 px-2 rounded' %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
